# Desafio 1: Properti

## Objetivos:
-  Efectuar una limpieza del dataset provisto. Particularmente, deberá diseñar estrategias para lidiar con los datos perdidos en ciertas variables.

-  Realizar un análisis descriptivo de las principales variables.

- Crear nuevas columnas a partir de las características dadas que puedan tener valor predictivo.

## Preparacion de ambiente
### Importar Librerias
**Numpy** y **Pandas** son importadas para administrar todas las operaciones analiticas 

**IPython** es utilizados para administrar la visualizacion de los datos

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

### Importar archivo CSV
Utilizando Pandas importamos el archivo CSV considerando la comma como delimitador

In [2]:
dfprop=pd.read_csv(filepath_or_buffer='properatti.csv',delimiter=',',index_col = 0 )

## Visualizacion
### Visualizar la forma del Dataframe
Se utilizara la funcion nativa **shape** de la clase DataFrame para visualizar:
- Cantidad de observaciones 
- Cantidad de variables

In [3]:
dfprop.shape

(121220, 25)

### Visualizar estructura del Dataframe
Se utilizara la funcion nativa **info()** de la clase DataFrame para visualizar:
- Cantidad de variables
- Nombre de variables
- Cantidad de registros con valores **No nulos**
- Tipo de dato

In [4]:
dfprop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121220 entries, 0 to 121219
Data columns (total 25 columns):
operation                     121220 non-null object
property_type                 121220 non-null object
place_name                    121197 non-null object
place_with_parent_names       121220 non-null object
country_name                  121220 non-null object
state_name                    121220 non-null object
geonames_id                   102503 non-null float64
lat-lon                       69670 non-null object
lat                           69670 non-null float64
lon                           69670 non-null float64
price                         100810 non-null float64
currency                      100809 non-null object
price_aprox_local_currency    100810 non-null float64
price_aprox_usd               100810 non-null float64
surface_total_in_m2           81892 non-null float64
surface_covered_in_m2         101313 non-null float64
price_usd_per_m2              68617 non-null float64
price_per_m2                  87658 non-null float64
floor                         7899 non-null float64
rooms                         47390 non-null float64
expenses                      14262 non-null float64
properati_url                 121220 non-null object
description                   121218 non-null object
title                         121220 non-null object
image_thumbnail               118108 non-null object
dtypes: float64(13), object(12)
memory usage: 24.0+ MB

## Visualizacion de valores Nan en cada variable

Visualizamos la cantidad de valores Nan para cada variable

In [5]:
dfprop[dfprop.isnull().any(axis=1)].isna().sum()

operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

## Limpieza de datos
### Eliminacion de inmuebles sin valor analitico

Eliminamos los inmuebles sin precio ni ubicaciones, ya que no tenemos ninguna forma de estimar un precio.

Condicion:
- price == Nan
- price_aprox_local_currency == Nan
- price_aprox_usd == Nan
- surface_total_in_m2 == Nan
- surface_covered_in_m2 == Nan


Los registros eliminados son 4733

In [6]:
# Generamos una mascara para encontrar todos los registros bajo esta condicion
dfprop_withoutprice_withoutsurface=((dfprop['price'].isna()==True)\
                                    &(dfprop['price_aprox_local_currency'].isna()==True)\
                                    &(dfprop['price_aprox_usd'].isna()==True)\
                                    &(dfprop['surface_total_in_m2'].isna()==True)\
                                    &(dfprop['surface_covered_in_m2'].isna()==True))

# Instanciamos el Dataframe excluyendo los registros que no cumple con dicha condicion
dfprop=dfprop.loc[~dfprop_withoutprice_withoutsurface]

Visualizamos la forma para confirmar que se hayan eliminado los registros

In [7]:
dfprop.shape

(116487, 25)

### Separar en un nuevo Dataframe los inmuebles cuya concentracion por provincia sea menor a 30 operaciones

Dejaremos en un nuevo DataFrame denominado 'dfprop_fewlocations' las propiedades cuya agrupacion por provincia sea menor a 30 por no tener un valor referencial para la estimacion de precios

In [8]:
#Creamos dataframe con un valor booleano que indica si la provincia tiene menos de 30 propiedades (True) o no (False).
dfprop_stateless30locations=dfprop.groupby('state_name')[['operation']].count()<30

# Renombramos la columna  
dfprop_stateless30locations.rename(columns={'state_name':'state_name','operation':'less_30_locations'},inplace=True)

# Hacemos un merge con dfprop para marcar cada una de las propiedades
dfprop=pd.merge(dfprop,dfprop_stateless30locations,how='left',on='state_name')
    
# Generamos un nuevo Dataframe para almacenar las propiedades correspondientes a provincias con menos de 30 propiedades
dfprop_fewlocations=dfprop.loc[dfprop['less_30_locations']==True]

# Eliminamos del dataframe proncipal dichas ubiaciones
dfprop=dfprop.loc[dfprop['less_30_locations']==False]

#Eliminamos las columnas de ambos dataframes
dfprop_fewlocations.drop(['less_30_locations'],axis=1,inplace=True)
dfprop.drop(['less_30_locations'],axis=1,inplace=True)

#Verificamos la cantidad de ubicaciones dentro del dataframe auxiliar
dfprop_fewlocations.shape

(74, 25)

In [9]:
#Corroboramos que se hayan eliminado las propiedades del dataframe principal
dfprop.shape

(116413, 25)

Eliminamos propiedad en moneda distinta a ARS o USD (se excluye 'NaN' siendo que tendran tratamiento mas adelante)

In [10]:
dfprop['currency'].unique()

array(['USD', nan, 'ARS', 'PEN', 'UYU'], dtype=object)

In [11]:
dfprop=dfprop.loc[((dfprop['currency']!='UYU')&(dfprop['currency']!='PEN'))]

#Corroboramos que se hayan eliminado las propiedades del dataframe principal
dfprop['currency'].unique()

array(['USD', nan, 'ARS'], dtype=object)

Eliminamos la categoria 'store', siendo que nuestro analisis será para viviendas de ocupacion permanente.

In [12]:
dfprop['property_type'].unique()

array(['PH', 'apartment', 'house', 'store'], dtype=object)

In [13]:
dfprop=dfprop.loc[(dfprop['property_type']!='store')]

In [14]:
dfprop['property_type'].unique()

array(['PH', 'apartment', 'house'], dtype=object)

# Imputacion
## Variable place_name - valores Nan:  
- Analizamos los valores NaN de la columna 'place_name':

In [15]:
dfprop.loc[(dfprop['place_name'].isna() == True),['place_name','place_with_parent_names']]

      place_name                      place_with_parent_names
6201         NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
9686         NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
10855        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
14066        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
17672        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
20765        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
22398        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
23404        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
36842        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
43577        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
44227        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
50404        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
52495        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
54729        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
54784        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
54788        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
54816        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
55003        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
55036        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
55996        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
59189        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
59191        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||
60539        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||

- Vemos que, de acuerdo a 'place_name_with_parents', todos los valores faltantes son 'Tigre'.
- Por lo tanto, procedemos a reemplazarlos:

In [16]:
dfprop['place_name'].fillna( value = 'Tigre', inplace = True)

Volvemos a visualizar la cantidad de valores nulos para confirmar que no haya mas valores **Nan** en la variable 'place_name'

In [17]:
dfprop[dfprop.isnull().any(axis=1)].isna().sum()

operation                          0
property_type                      0
place_name                         0
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    17992
lat-lon                        48544
lat                            48544
lon                            48544
price                          14973
currency                       14974
price_aprox_local_currency     14973
price_aprox_usd                14973
surface_total_in_m2            33301
surface_covered_in_m2          14356
price_usd_per_m2               45984
price_per_m2                   27407
floor                         104901
rooms                          67543
expenses                       98647
properati_url                      0
description                        2
title                              0
image_thumbnail                 2666
dtype: int64

## Variables 'surface_total_in_m2' y 'surface_covered_in_m2' - valores Nan
Analizamos los valores que tienen 'surface_covered_in_m2', pero no 'surface_total_in_m2'

In [18]:
dfprop.isnull().sum()

operation                          0
property_type                      0
place_name                         0
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    17992
lat-lon                        48544
lat                            48544
lon                            48544
price                          14973
currency                       14974
price_aprox_local_currency     14973
price_aprox_usd                14973
surface_total_in_m2            33301
surface_covered_in_m2          14356
price_usd_per_m2               45984
price_per_m2                   27407
floor                         104901
rooms                          67543
expenses                       98647
properati_url                      0
description                        2
title                              0
image_thumbnail                 2666
dtype: int64

In [19]:
dfprop_surfaceanalysis = dfprop[(dfprop['surface_total_in_m2'].isna() == True) & (dfprop['surface_covered_in_m2'].isna() == False)]
dfprop_surfaceanalysis[['surface_total_in_m2', 'surface_covered_in_m2']].sample(10)

        surface_total_in_m2  surface_covered_in_m2
27829                   NaN                   50.0
55326                   NaN                   62.0
49543                   NaN                   38.0
64482                   NaN                  136.0
54134                   NaN                   71.0
85020                   NaN                  250.0
46457                   NaN                   32.0
104579                  NaN                  280.0
16155                   NaN                   50.0
85069                   NaN                   94.0

Reemplazamos los valores NaN de la columna 'surface_total_in_m2', asumiendo que en estos casos es igual al valor de 'surface_covered_in_m2'

In [20]:
dfprop.fillna({'surface_total_in_m2' : dfprop['surface_covered_in_m2']}, inplace = True)

Volvemos a constatar la cantidad de valores nulos en el dataframe:

In [21]:
dfprop.isnull().sum()

operation                          0
property_type                      0
place_name                         0
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    17992
lat-lon                        48544
lat                            48544
lon                            48544
price                          14973
currency                       14974
price_aprox_local_currency     14973
price_aprox_usd                14973
surface_total_in_m2             7283
surface_covered_in_m2          14356
price_usd_per_m2               45984
price_per_m2                   27407
floor                         104901
rooms                          67543
expenses                       98647
properati_url                      0
description                        2
title                              0
image_thumbnail                 2666
dtype: int64

Repetimos la operación para los casos en los que no tenemos valor de 'surface_covered_in_m2', completando con el valor de 'surface_total_in_m2':

In [22]:
dfprop_surfaceanalysis = dfprop[(dfprop['surface_covered_in_m2'].isna() == True) & (dfprop['surface_total_in_m2'].isna() == False)]
dfprop_surfaceanalysis[['surface_total_in_m2', 'surface_covered_in_m2']].sample(10)

       surface_total_in_m2  surface_covered_in_m2
6179                  35.0                    NaN
39291                 40.0                    NaN
62885                 60.0                    NaN
6961                  75.0                    NaN
95612                 41.0                    NaN
48745                 77.0                    NaN
42714                800.0                    NaN
35241                312.0                    NaN
64047                 61.0                    NaN
65757                 81.0                    NaN

In [23]:
dfprop.fillna({'surface_covered_in_m2' : dfprop['surface_total_in_m2']}, inplace = True)

In [24]:
dfprop.isnull().sum()

operation                          0
property_type                      0
place_name                         0
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    17992
lat-lon                        48544
lat                            48544
lon                            48544
price                          14973
currency                       14974
price_aprox_local_currency     14973
price_aprox_usd                14973
surface_total_in_m2             7283
surface_covered_in_m2           7283
price_usd_per_m2               45984
price_per_m2                   27407
floor                         104901
rooms                          67543
expenses                       98647
properati_url                      0
description                        2
title                              0
image_thumbnail                 2666
dtype: int64

Imputamos la variable 'price_per_m2' calculandola en base a 'price_aprox_us' y 'surface_total_in_m2'

In [25]:

dfprop.loc[dfprop['price_usd_per_m2'].isna() &\
           (~dfprop['price_aprox_usd'].isna())&\
            (~dfprop['surface_total_in_m2'].isna())&\
            (dfprop['surface_total_in_m2']!=0.),\
           'price_usd_per_m2']= dfprop['price_aprox_usd']/dfprop['surface_total_in_m2']

In [26]:
dfprop.isnull().sum()

operation                          0
property_type                      0
place_name                         0
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    17992
lat-lon                        48544
lat                            48544
lon                            48544
price                          14973
currency                       14974
price_aprox_local_currency     14973
price_aprox_usd                14973
surface_total_in_m2             7283
surface_covered_in_m2           7283
price_usd_per_m2               22497
price_per_m2                   27407
floor                         104901
rooms                          67543
expenses                       98647
properati_url                      0
description                        2
title                              0
image_thumbnail                 2666
dtype: int64

In [27]:
dfprop.shape

(112458, 25)

Eliminamos propiedades sin precio y con cantidad de metro=0

In [28]:

dfprop=dfprop.drop(dfprop.loc[(dfprop['price_usd_per_m2'].isna())&
                                 (dfprop['price'].isna())&
                                 (dfprop['surface_total_in_m2']==0)].index)

dfprop.shape

(112327, 25)

### Variable  'state_name' vs 'place_with_parent_names'
Notamos que la columna **'place_name'** contiene valores no que aportan una clara referencia de la ubicacion geografica del inmueble.

Por ejemplo
- place_name: 'Centro'
- place_with_parent_names: '|Argentina|Buenos Aires Costa Atlántica|Mar del Plata|Centro|'

Adicionalmente, los valores contenidos por esta columna no tienen el mismo valor referencial, lo cual difculta entender la precision de dicha columna. 

Por ello utilizamos **'place_with_parent_names'** que nos permite definir correctamente la ubicacion geografica del inmueble. 

Por lo tanto, separamos el texto y generaremos una nueva columna quedando el dataset con esta estructura.

- country_name: Pais
- state_name: provincia (salvo buenos aires que indicara la zona)
- district_name: localidad o partido
- city_name: barrio

In [29]:
# Split por el caracter "|"
dfplacename=[sublista.split('|') for sublista in dfprop['place_with_parent_names']]

# De cada una de las listas quitamos el ultimo y el primer caracter, ya que son vacios
# ['', 'Argentina', 'Bs.As. G.B.A. Zona Norte', 'Vicente López', 'Munro', '']
dfplacename=[sublista[1:5] for sublista in dfplacename]


# Se extrae el nombre de distrito o localidad en una nueva variable denominada 'district_name'
dfprop['district_name']=[str.strip(sublista[2]) if str.strip(sublista[2])!='' else np.nan for sublista in dfplacename]


# Se extrae el nombre de la ciudad o barrio en una nueva variable denominada 'city_name'
dfprop['city_name']=[str.strip(sublista[3]) if (len(sublista)>3  and sublista[3]) else np.nan for sublista in dfplacename]

# Finalmente columnas a ser utilizada seran:
# 'country_name'
# 'state_name'
# 'district_name'
#  'city_name'
# A partir de esas hacer las imputaciones

dfprop[['country_name','state_name','district_name','city_name']].sample(10)

,country_name,state_name,district_name,city_name
17828,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Tigre
78755,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,NaN
95616,Argentina,Corrientes,Ituzaingó,NaN
95693,Argentina,Bs.As. G.B.A. Zona Norte,Vicente López,Olivos
90620,Argentina,Bs.As. G.B.A. Zona Sur,Lanús,Valentín Alsina
22137,Argentina,Neuquén,Confluencia,NaN
38565,Argentina,Neuquén,Neuquén,NaN
24408,Argentina,Capital Federal,Boedo,NaN
76568,Argentina,Bs.As. G.B.A. Zona Norte,Vicente López,Olivos
100007,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,NaN

### Eliminamos inmuebles sin nombre del distrito

Quitamos casos sin district_name ya que no nos permiten brindar un valor de referencia debido a que no tienen una zona claramente indicada

In [30]:
mask_nodistrict_nocity_silatlon=(dfprop['district_name'].isna()==True)
dfprop=dfprop.loc[~mask_nodistrict_nocity_silatlon]
dfprop.shape

(108003, 27)

### Eliminamos las propiedades que por 'district_name' no lleguen a 30 operaciones

In [31]:
dfprop.groupby(by=['district_name']).count()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,city_name
district_name,,,,,,,,,,,,,,,,,,,,,
Abasto,103,103,103,103,103,103,0,68,68,68,...,92,88,17,61,26,103,103,103,97,0
Achiras,7,7,7,7,7,7,7,7,7,7,...,1,1,1,7,0,7,7,7,7,0
Adolfo Alsina,8,8,8,8,8,8,8,3,3,3,...,0,0,0,8,0,8,8,8,8,0
Agronomía,39,39,39,39,39,39,39,39,39,39,...,36,35,2,32,8,39,39,39,39,0
Agua de Oro,6,6,6,6,6,6,6,2,2,2,...,3,3,0,1,0,6,6,6,6,0
Aguas Verdes,15,15,15,15,15,15,15,15,15,15,...,6,6,1,14,0,15,15,15,15,0
Aldea Brasilera,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,1,0
Alejandro Roca,1,1,1,1,1,1,0,0,0,0,...,1,1,0,1,0,1,1,1,0,0
Almafuerte,7,7,7,7,7,7,7,3,3,3,...,1,1,0,5,0,7,7,7,7,0
Almagro,1120,1120,1120,1120,1120,1120,1120,920,920,920,...,941,921,149,706,284,1120,1120,1120,1119,0
Almirante Brown,1520,1520,1520,1520,1520,1520,813,527,527,527,...,1070,999,7,156,93,1520,1520,1520,1454,1481
Alta Gracia,18,18,18,18,18,18,18,11,11,11,...,10,10,2,6,0,18,18,18,16,0
Alvear,2,2,2,2,2,2,2,2,2,2,...,2,1,0,1,0,2,2,2,2,0
Anisacate,7,7,7,7,7,7,7,3,3,3,...,6,6,0,3,0,7,7,7,7,0
Apóstoles,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,1,0
Arequito,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,1,0
Arocena,3,3,3,3,3,3,3,3,3,3,...,0,0,0,0,0,3,3,3,3,0
Arroyo Ceibal,1,1,1,1,1,1,0,0,0,0,...,1,1,0,1,0,1,1,1,1,0
Arroyo Seco,2,2,2,2,2,2,2,2,2,2,...,1,1,0,1,0,2,2,2,2,0
Ascochinga,7,7,7,7,7,7,7,2,2,2,...,3,3,1,4,0,7,7,7,7,0
Avellaneda,628,628,628,628,628,628,615,396,396,396,...,581,547,28,292,62,628,628,628,627,404
Azara,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,0,1,1,1,1,0
Azul,17,17,17,17,17,17,15,14,14,14,...,13,12,1,4,1,17,17,17,15,2
Bahía Blanca,456,456,456,456,456,456,456,436,436,436,...,351,311,0,269,10,456,456,456,454,5
Balcarce,80,80,80,80,80,80,80,76,76,76,...,37,32,0,71,1,80,80,80,80,1
Balnearia,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,0,1,1,1,1,0
Balvanera,626,626,626,626,626,626,626,558,558,558,...,588,559,141,428,191,626,626,626,624,0
Banda del Río Salí,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,0,1,1,1,1,0
Baradero,6,6,6,6,6,6,6,5,5,5,...,6,6,0,3,1,6,6,6,6,0
Barracas,410,410,410,410,410,410,410,357,357,357,...,380,361,26,235,56,410,410,410,410,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Villa Larca,1,1,1,1,1,1,1,0,0,0,...,1,1,0,0,0,1,1,1,1,0
Villa Llao Llao,1,1,1,1,1,1,0,1,1,1,...,1,1,0,0,0,1,1,1,1,0
Villa Los Aromos,1,1,1,1,1,1,0,1,1,1,...,1,1,0,0,0,1,1,1,1,0
Villa Lugano,199,199,199,199,199,199,199,162,162,162,...,179,168,16,114,16,199,199,199,197,0
Villa Luro,411,411,411,411,411,411,411,343,343,343,...,352,316,24,143,47,411,411,411,411,0
Villa María,9,9,9,9,9,9,9,2,2,2,...,6,6,0,2,1,9,9,9,9,0
Villa Mercedes,7,7,7,7,7,7,0,5,5,5,...,0,0,1,7,0,7,7,7,7,0
Villa Nueva,4,4,4,4,4,4,4,2,2,2,...,1,1,0,4,0,4,4,4,4,0
Villa Ortuzar,78,78,78,78,78,78,78,65,65,65,...,77,76,2,38,23,78,78,78,78,0
Villa Paranacito,1,1,1,1,1,1,1,0,0,0,...,1,1,0,0,0,1,1,1,1,0
Villa Parque Santa Ana,3,3,3,3,3,3,0,3,3,3,...,3,3,0,3,0,3,3,3,3,0
Villa Parque Siquiman,6,6,6,6,6,6,0,3,3,3,...,1,1,0,2,0,6,6,6,6,0
Villa Pueyrredón,175,175,175,175,175,175,175,137,137,137,...,169,164,6,88,22,175,175,175,174,0
Villa Real,36,36,36,36,36,36,36,35,35,35,...,36,36,0,17,2,36,36,36,36,0
Villa Riachuelo,6,6,6,6,6,6,6,6,6,6,...,5,5,1,3,0,6,6,6,6,0
Villa Rumipal,13,13,13,13,13,13,13,8,8,8,...,7,7,0,6,0,13,13,13,13,0
Villa Santa Cruz del Lago,11,11,11,11,11,11,0,10,10,10,...,10,10,0,6,0,11,11,11,11,0
Villa Santa Rita,55,55,55,55,55,55,55,54,54,54,...,54,54,11,39,2,55,55,55,55,0
Villa Soldati,13,13,13,13,13,13,13,13,13,13,...,13,13,3,12,0,13,13,13,13,0
Villa Urquiza,1607,1607,1607,1607,1607,1607,1607,1068,1068,1068,...,1333,1308,116,554,184,1607,1607,1607,1571,0
Villa de Las Rosas,3,3,3,3,3,3,3,3,3,3,...,3,3,0,3,0,3,3,3,3,0
Villa de Soto,2,2,2,2,2,2,2,2,2,2,...,2,2,0,0,0,2,2,2,2,0
Villa del Dique,20,20,20,20,20,20,20,9,9,9,...,12,11,0,8,0,20,20,20,18,0
Villa del Parque,469,469,469,469,469,469,469,312,312,312,...,436,430,34,177,91,469,469,469,467,0
Villa del Totoral,8,8,8,8,8,8,8,4,4,4,...,6,6,0,0,0,8,8,8,8,0
Villarino,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,1,1,1,1,1
Vistalba,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,0,1,1,1,1,0
Wenceslao Escalante,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,1,1,1,1,0
Yerba Buena,161,161,161,161,161,161,161,34,34,34,...,20,12,0,18,22,161,161,161,155,0
Zárate,15,15,15,15,15,15,8,8,8,8,...,12,12,1,7,0,15,15,15,14,8

In [32]:
#Creamos dataframe con un valor booleano que indica si district tiene menos de 30 propiedades (True) o no (False).
dfprop_districtless30locations=dfprop.groupby('district_name')[['operation']].count()<30

# Renombramos la columna  
dfprop_districtless30locations.rename(columns={'district_name':'district_name','operation':'less_30_locations'},inplace=True)

# Hacemos un merge con dfprop para marcar cada una de las propiedades
dfprop=pd.merge(dfprop,dfprop_districtless30locations,how='left',on='district_name')
    
# Generamos un nuevo Dataframe para almacenar las propiedades correspondientes a district con menos de 30 propiedades
dfprop_fewlocations=dfprop.loc[dfprop['less_30_locations']==True]

# Eliminamos del dataframe proncipal dichas ubiaciones
dfprop=dfprop.loc[dfprop['less_30_locations']==False]

#Eliminamos las columnas de ambos dataframes
dfprop_fewlocations.drop(['less_30_locations'],axis=1,inplace=True)
dfprop.drop(['less_30_locations'],axis=1,inplace=True)

#Verificamos la cantidad de ubicaciones dentro del dataframe auxiliar
dfprop_fewlocations.shape

(1895, 27)

In [33]:
dfprop.groupby(by=['district_name']).count()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,city_name
district_name,,,,,,,,,,,,,,,,,,,,,
Abasto,103,103,103,103,103,103,0,68,68,68,...,92,88,17,61,26,103,103,103,97,0
Agronomía,39,39,39,39,39,39,39,39,39,39,...,36,35,2,32,8,39,39,39,39,0
Almagro,1120,1120,1120,1120,1120,1120,1120,920,920,920,...,941,921,149,706,284,1120,1120,1120,1119,0
Almirante Brown,1520,1520,1520,1520,1520,1520,813,527,527,527,...,1070,999,7,156,93,1520,1520,1520,1454,1481
Avellaneda,628,628,628,628,628,628,615,396,396,396,...,581,547,28,292,62,628,628,628,627,404
Bahía Blanca,456,456,456,456,456,456,456,436,436,436,...,351,311,0,269,10,456,456,456,454,5
Balcarce,80,80,80,80,80,80,80,76,76,76,...,37,32,0,71,1,80,80,80,80,1
Balvanera,626,626,626,626,626,626,626,558,558,558,...,588,559,141,428,191,626,626,626,624,0
Barracas,410,410,410,410,410,410,410,357,357,357,...,380,361,26,235,56,410,410,410,410,0
Barrio Norte,1078,1078,1078,1078,1078,1078,1078,860,860,860,...,955,910,100,641,340,1078,1078,1078,1070,0
Belgrano,2917,2917,2917,2917,2917,2917,2917,1914,1914,1914,...,2468,2362,189,1141,746,2917,2917,2917,2888,0
Berazategui,450,450,450,450,450,450,253,380,380,380,...,353,345,7,192,21,450,450,450,450,339
Boca,216,216,216,216,216,216,216,127,127,127,...,201,192,16,87,49,216,216,216,213,0
Boedo,867,867,867,867,867,867,867,321,321,321,...,829,824,19,744,37,867,867,867,867,0
Caballito,2225,2225,2225,2225,2225,2225,2225,1784,1784,1784,...,2000,1969,331,1127,506,2225,2225,2225,2192,0
Capitán Bermúdez,47,47,47,47,47,47,47,47,47,47,...,46,46,0,4,0,47,47,47,47,0
Cariló,55,55,55,55,55,55,0,41,41,41,...,39,39,0,33,1,55,55,55,55,0
Cañuelas,45,45,45,45,45,45,42,31,31,31,...,38,36,0,11,7,45,45,45,45,37
Centro / Microcentro,159,159,159,159,159,159,159,157,157,157,...,159,157,24,152,29,159,159,159,159,0
Chacarita,219,219,219,219,219,219,219,153,153,153,...,204,198,31,106,33,219,219,219,186,0
Chascomús,55,55,55,55,55,55,6,42,42,42,...,36,33,0,34,4,55,55,55,54,49
Coghlan,253,253,253,253,253,253,253,214,214,214,...,239,236,30,141,38,253,253,253,247,0
Colegiales,342,342,342,342,342,342,342,308,308,308,...,334,326,58,209,99,342,342,342,341,0
Colón,98,98,98,98,98,98,98,32,32,32,...,23,22,1,16,14,98,98,98,98,0
Confluencia,113,113,113,113,113,113,113,53,53,53,...,74,73,1,32,4,113,113,113,74,0
Congreso,284,284,284,284,284,284,284,221,221,221,...,268,259,47,209,85,284,284,284,283,0
Constitución,199,199,199,199,199,199,199,185,185,185,...,194,190,20,139,21,199,199,199,198,0
Coronel Suárez,73,73,73,73,73,73,73,57,57,57,...,23,21,2,60,0,73,73,73,73,61
Costa Esmeralda,125,125,125,125,125,125,0,98,98,98,...,123,123,0,95,5,125,125,125,125,0
Cushamen,71,71,71,71,71,71,71,0,0,0,...,63,7,0,1,0,71,71,71,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Santa Teresita,46,46,46,46,46,46,46,28,28,28,...,26,23,0,12,5,46,46,46,45,0
Santo Tomé,44,44,44,44,44,44,44,39,39,39,...,31,31,2,29,1,44,44,44,42,0
Tandil,73,73,73,73,73,73,73,66,66,66,...,57,54,4,30,2,73,73,73,73,24
Tigre,8914,8914,8914,8914,8914,8914,3123,4415,4415,4415,...,8072,7951,540,2941,1260,8914,8914,8914,8813,6552
Trenque Lauquen,40,40,40,40,40,40,40,37,37,37,...,11,11,7,1,10,40,40,40,40,32
Tres Arroyos,79,79,79,79,79,79,79,73,73,73,...,63,58,0,71,0,79,79,79,79,0
Tres de Febrero,1256,1256,1256,1256,1256,1256,1084,1055,1055,1055,...,1049,934,250,772,101,1256,1256,1256,1246,1166
Tribunales,71,71,71,71,71,71,0,62,62,62,...,66,61,14,44,24,71,71,71,71,0
Unquillo,32,32,32,32,32,32,32,12,12,12,...,20,20,0,8,1,32,32,32,32,0
Valeria del Mar,53,53,53,53,53,53,53,43,43,43,...,49,47,4,35,0,53,53,53,53,0
Velez Sarsfield,37,37,37,37,37,37,37,35,35,35,...,33,33,3,18,5,37,37,37,37,0
Versalles,55,55,55,55,55,55,55,55,55,55,...,52,50,9,40,3,55,55,55,55,0
Vicente López,3555,3555,3555,3555,3555,3555,2884,1233,1233,1233,...,3443,3371,391,918,352,3555,3555,3555,3514,3331
Villa Allende,196,196,196,196,196,196,196,83,83,83,...,97,95,29,66,5,196,196,196,191,0
Villa Carlos Paz,573,573,573,573,573,573,573,498,498,498,...,414,386,0,345,11,573,572,573,571,0
Villa Crespo,1243,1243,1243,1243,1243,1243,1243,861,861,861,...,1106,1092,141,529,394,1243,1243,1243,1206,0
Villa Devoto,389,389,389,389,389,389,389,363,363,363,...,365,354,45,228,55,389,389,389,387,0
Villa General Belgrano,79,79,79,79,79,79,79,62,62,62,...,30,25,1,46,3,79,79,79,79,0
Villa General Mitre,48,48,48,48,48,48,48,48,48,48,...,47,47,7,38,6,48,48,48,48,0
Villa Gesell,292,292,292,292,292,292,292,269,269,269,...,267,255,6,191,9,292,292,292,292,0
Villa La Angostura,132,132,132,132,132,132,132,36,36,36,...,25,25,0,29,0,132,132,132,132,0
Villa Lugano,199,199,199,199,199,199,199,162,162,162,...,179,168,16,114,16,199,199,199,197,0
Villa Luro,411,411,411,411,411,411,411,343,343,343,...,352,316,24,143,47,411,411,411,411,0
Villa Ortuzar,78,78,78,78,78,78,78,65,65,65,...,77,76,2,38,23,78,78,78,78,0
Villa Pueyrredón,175,175,175,175,175,175,175,137,137,137,...,169,164,6,88,22,175,175,175,174,0
Villa Real,36,36,36,36,36,36,36,35,35,35,...,36,36,0,17,2,36,36,36,36,0
Villa Santa Rita,55,55,55,55,55,55,55,54,54,54,...,54,54,11,39,2,55,55,55,55,0
Villa Urquiza,1607,1607,1607,1607,1607,1607,1607,1068,1068,1068,...,1333,1308,116,554,184,1607,1607,1607,1571,0
Villa del Parque,469,469,469,469,469,469,469,312,312,312,...,436,430,34,177,91,469,469,469,467,0
Yerba Buena,161,161,161,161,161,161,161,34,34,34,...,20,12,0,18,22,161,161,161,155,0

Corroboramos que el dataframe 'dfprop_fewlocations' se hayan agregado las propiedaes excluidas

Corroboramos la cantidad de nan en la variable 'price_usd_per_m2'

In [34]:
dfprop.isna().sum()

operation                         0
property_type                     0
place_name                        0
place_with_parent_names           0
country_name                      0
state_name                        0
geonames_id                   17696
lat-lon                       44784
lat                           44784
lon                           44784
price                         13563
currency                      13563
price_aprox_local_currency    13563
price_aprox_usd               13563
surface_total_in_m2            6506
surface_covered_in_m2          6506
price_usd_per_m2              20301
price_per_m2                  24886
floor                         98697
rooms                         62404
expenses                      92935
properati_url                     0
description                       2
title                             0
image_thumbnail                2337
district_name                     0
city_name                     68162
dtype: int64

Habiendo eliminado 'district_names' con menos de 30 operaciones, procedemos a quitar aquellos registros intra-district, donde los NaN alcancen o superen el 50% de total de operaciones.

In [35]:
# Obtenemos un dataframe con las propiedades sin precio y con district_name 
dfsin_precio=dfprop.loc[dfprop['price_usd_per_m2'].isna() &\
                        (~dfprop['district_name'].isna())].groupby(['state_name','district_name'])[['operation']].count()

# Obtenemos un dataframe con las propiedades con precio y con district_name
dfcon_precio=dfprop.loc[(~dfprop['price_usd_per_m2'].isna()) &\
                        (~dfprop['district_name'].isna())].groupby(['state_name','district_name'])[['operation']].count()

# Unimos ambos dataframe y agrupamos para obtener la cantidad de propiedades sin y con precio para cada district_name
#Agrupamos por state_name y district_name para evitar que distritos de diferentes provincias se agrupen indebidamente 
df_merge=pd.merge(dfsin_precio,dfcon_precio,how='left',on=['state_name','district_name'])

# Renombro columnas a efectos practicos en la interpretacion
df_merge.rename(columns={'operation_x':'sin precio','operation_y':'con precio'},inplace=True)

# Creo una columna para obtener el total de propiedades
df_merge['total']=df_merge['con precio']+df_merge['sin precio']

# Calculo el % de propiedaes sin precio respecto al total de propiedades
df_merge['%']=df_merge['sin precio']/df_merge['total']

# Filtramos los distritos cuya relacion con la cantidad total de propiedades sea mayor a 0.5
df_merge=df_merge.loc[df_merge['%']>0.5]

#Hacemos un merge con dfprop para que las propiedades a ser removidas queden marcadas
dfpropdelete=pd.merge(dfprop,df_merge,how='left',on=['state_name','district_name'])

# Filtro el dataframe para obtener las propiedades a ingresar en dfprop 
dfprop= dfpropdelete.loc[dfpropdelete['total'].isna()|(~dfpropdelete['total'].isna())&(~dfpropdelete['price_usd_per_m2'].isna())]

# eliminon las columnas utilizadas en este analisis
dfprop.drop(['sin precio','con precio','%','total'],axis=1,inplace=True)

# Filtro el dataframe para obtener las propiedades excluidas 
dfpropdelete= dfpropdelete.loc[(~(dfpropdelete['total'].isna()|(~dfpropdelete['total'].isna())&(~dfpropdelete['price_usd_per_m2'].isna())))]

# elimino las columnas utilizadas en este analisis
dfpropdelete.drop(['sin precio','con precio','%','total'],axis=1,inplace=True)

# Agrego las propiedades excluidas al dataframe 
dfprop_fewlocations=dfprop_fewlocations.append(dfpropdelete)

dfprop.shape

/opt/conda/envs/geopandas/lib/python3.7/site-packages/pandas/core/frame.py:3930: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

(103889, 27)

In [36]:
dfprop.groupby(by=['district_name']).count()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,city_name
district_name,,,,,,,,,,,,,,,,,,,,,
Abasto,103,103,103,103,103,103,0,68,68,68,...,92,88,17,61,26,103,103,103,97,0
Agronomía,39,39,39,39,39,39,39,39,39,39,...,36,35,2,32,8,39,39,39,39,0
Almagro,1120,1120,1120,1120,1120,1120,1120,920,920,920,...,941,921,149,706,284,1120,1120,1120,1119,0
Almirante Brown,1520,1520,1520,1520,1520,1520,813,527,527,527,...,1070,999,7,156,93,1520,1520,1520,1454,1481
Avellaneda,628,628,628,628,628,628,615,396,396,396,...,581,547,28,292,62,628,628,628,627,404
Bahía Blanca,456,456,456,456,456,456,456,436,436,436,...,351,311,0,269,10,456,456,456,454,5
Balcarce,37,37,37,37,37,37,37,33,33,33,...,37,32,0,29,1,37,37,37,37,1
Balvanera,626,626,626,626,626,626,626,558,558,558,...,588,559,141,428,191,626,626,626,624,0
Barracas,410,410,410,410,410,410,410,357,357,357,...,380,361,26,235,56,410,410,410,410,0
Barrio Norte,1078,1078,1078,1078,1078,1078,1078,860,860,860,...,955,910,100,641,340,1078,1078,1078,1070,0
Belgrano,2917,2917,2917,2917,2917,2917,2917,1914,1914,1914,...,2468,2362,189,1141,746,2917,2917,2917,2888,0
Berazategui,450,450,450,450,450,450,253,380,380,380,...,353,345,7,192,21,450,450,450,450,339
Boca,216,216,216,216,216,216,216,127,127,127,...,201,192,16,87,49,216,216,216,213,0
Boedo,867,867,867,867,867,867,867,321,321,321,...,829,824,19,744,37,867,867,867,867,0
Caballito,2225,2225,2225,2225,2225,2225,2225,1784,1784,1784,...,2000,1969,331,1127,506,2225,2225,2225,2192,0
Capitán Bermúdez,47,47,47,47,47,47,47,47,47,47,...,46,46,0,4,0,47,47,47,47,0
Cariló,55,55,55,55,55,55,0,41,41,41,...,39,39,0,33,1,55,55,55,55,0
Cañuelas,45,45,45,45,45,45,42,31,31,31,...,38,36,0,11,7,45,45,45,45,37
Centro / Microcentro,159,159,159,159,159,159,159,157,157,157,...,159,157,24,152,29,159,159,159,159,0
Chacarita,219,219,219,219,219,219,219,153,153,153,...,204,198,31,106,33,219,219,219,186,0
Chascomús,55,55,55,55,55,55,6,42,42,42,...,36,33,0,34,4,55,55,55,54,49
Coghlan,253,253,253,253,253,253,253,214,214,214,...,239,236,30,141,38,253,253,253,247,0
Colegiales,342,342,342,342,342,342,342,308,308,308,...,334,326,58,209,99,342,342,342,341,0
Colón,23,23,23,23,23,23,23,6,6,6,...,23,22,0,2,8,23,23,23,23,0
Confluencia,113,113,113,113,113,113,113,53,53,53,...,74,73,1,32,4,113,113,113,74,0
Congreso,284,284,284,284,284,284,284,221,221,221,...,268,259,47,209,85,284,284,284,283,0
Constitución,199,199,199,199,199,199,199,185,185,185,...,194,190,20,139,21,199,199,199,198,0
Coronel Suárez,23,23,23,23,23,23,23,14,14,14,...,23,21,0,21,0,23,23,23,23,21
Costa Esmeralda,125,125,125,125,125,125,0,98,98,98,...,123,123,0,95,5,125,125,125,125,0
Cushamen,71,71,71,71,71,71,71,0,0,0,...,63,7,0,1,0,71,71,71,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Santa Teresita,46,46,46,46,46,46,46,28,28,28,...,26,23,0,12,5,46,46,46,45,0
Santo Tomé,44,44,44,44,44,44,44,39,39,39,...,31,31,2,29,1,44,44,44,42,0
Tandil,73,73,73,73,73,73,73,66,66,66,...,57,54,4,30,2,73,73,73,73,24
Tigre,8914,8914,8914,8914,8914,8914,3123,4415,4415,4415,...,8072,7951,540,2941,1260,8914,8914,8914,8813,6552
Trenque Lauquen,11,11,11,11,11,11,11,10,10,10,...,11,11,3,1,5,11,11,11,11,7
Tres Arroyos,79,79,79,79,79,79,79,73,73,73,...,63,58,0,71,0,79,79,79,79,0
Tres de Febrero,1256,1256,1256,1256,1256,1256,1084,1055,1055,1055,...,1049,934,250,772,101,1256,1256,1256,1246,1166
Tribunales,71,71,71,71,71,71,0,62,62,62,...,66,61,14,44,24,71,71,71,71,0
Unquillo,32,32,32,32,32,32,32,12,12,12,...,20,20,0,8,1,32,32,32,32,0
Valeria del Mar,53,53,53,53,53,53,53,43,43,43,...,49,47,4,35,0,53,53,53,53,0
Velez Sarsfield,37,37,37,37,37,37,37,35,35,35,...,33,33,3,18,5,37,37,37,37,0
Versalles,55,55,55,55,55,55,55,55,55,55,...,52,50,9,40,3,55,55,55,55,0
Vicente López,3555,3555,3555,3555,3555,3555,2884,1233,1233,1233,...,3443,3371,391,918,352,3555,3555,3555,3514,3331
Villa Allende,97,97,97,97,97,97,97,63,63,63,...,97,95,23,48,4,97,97,97,97,0
Villa Carlos Paz,573,573,573,573,573,573,573,498,498,498,...,414,386,0,345,11,573,572,573,571,0
Villa Crespo,1243,1243,1243,1243,1243,1243,1243,861,861,861,...,1106,1092,141,529,394,1243,1243,1243,1206,0
Villa Devoto,389,389,389,389,389,389,389,363,363,363,...,365,354,45,228,55,389,389,389,387,0
Villa General Belgrano,30,30,30,30,30,30,30,21,21,21,...,30,25,1,12,3,30,30,30,30,0
Villa General Mitre,48,48,48,48,48,48,48,48,48,48,...,47,47,7,38,6,48,48,48,48,0
Villa Gesell,292,292,292,292,292,292,292,269,269,269,...,267,255,6,191,9,292,292,292,292,0
Villa La Angostura,25,25,25,25,25,25,25,19,19,19,...,25,25,0,18,0,25,25,25,25,0
Villa Lugano,199,199,199,199,199,199,199,162,162,162,...,179,168,16,114,16,199,199,199,197,0
Villa Luro,411,411,411,411,411,411,411,343,343,343,...,352,316,24,143,47,411,411,411,411,0
Villa Ortuzar,78,78,78,78,78,78,78,65,65,65,...,77,76,2,38,23,78,78,78,78,0
Villa Pueyrredón,175,175,175,175,175,175,175,137,137,137,...,169,164,6,88,22,175,175,175,174,0
Villa Real,36,36,36,36,36,36,36,35,35,35,...,36,36,0,17,2,36,36,36,36,0
Villa Santa Rita,55,55,55,55,55,55,55,54,54,54,...,54,54,11,39,2,55,55,55,55,0
Villa Urquiza,1607,1607,1607,1607,1607,1607,1607,1068,1068,1068,...,1333,1308,116,554,184,1607,1607,1607,1571,0
Villa del Parque,469,469,469,469,469,469,469,312,312,312,...,436,430,34,177,91,469,469,469,467,0
Yerba Buena,20,20,20,20,20,20,20,8,8,8,...,20,12,0,3,1,20,20,20,18,0

Corroboramos que el dataframe 'dfprop_fewlocations' se hayan agregado las propiedaes excluidas

In [37]:
dfprop_fewlocations.shape

(4114, 27)

Corroboramos la cantidad de nan en la variable 'price_usd_per_m2'

In [38]:
dfprop.isna().sum()

operation                         0
property_type                     0
place_name                        0
place_with_parent_names           0
country_name                      0
state_name                        0
geonames_id                   17370
lat-lon                       43845
lat                           43845
lon                           43845
price                         11550
currency                      11550
price_aprox_local_currency    11550
price_aprox_usd               11550
surface_total_in_m2            6300
surface_covered_in_m2          6300
price_usd_per_m2              18082
price_per_m2                  22667
floor                         96523
rooms                         61168
expenses                      90813
properati_url                     0
description                       2
title                             0
image_thumbnail                2295
district_name                     0
city_name                     66678
dtype: int64

In [39]:
dfprop.groupby(by='state_name').count()

,operation,property_type,place_name,place_with_parent_names,country_name,geonames_id,lat-lon,lat,lon,price,...,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,district_name,city_name
state_name,,,,,,,,,,,,,,,,,,,,,
Bs.As. G.B.A. Zona Norte,24573,24573,24573,24573,24573,14602,11188,11188,11188,23326,...,21868,1772,6870,2980,24573,24572,24573,24275,24573,17211
Bs.As. G.B.A. Zona Oeste,7914,7914,7914,7914,7914,6910,4484,4484,4484,6967,...,6061,557,4043,608,7914,7914,7914,7637,7914,6321
Bs.As. G.B.A. Zona Sur,12591,12591,12591,12591,12591,8461,5214,5214,5214,11504,...,9513,235,2428,1725,12591,12591,12591,12201,12591,10532
Buenos Aires Costa Atlántica,9232,9232,9232,9232,9232,8228,7600,7600,7600,8600,...,6608,147,7350,416,9232,9232,9232,9159,9232,1128
Buenos Aires Interior,1534,1534,1534,1534,1534,1482,958,958,958,1410,...,1131,8,626,64,1534,1534,1534,1519,1534,650
Capital Federal,29555,29555,29555,29555,29555,28346,21897,21897,21897,26921,...,25438,2924,15132,6249,29555,29555,29555,29108,29555,1156
Chubut,109,109,109,109,109,109,0,0,0,106,...,27,0,1,0,109,109,109,76,109,0
Corrientes,530,530,530,530,530,530,2,2,2,448,...,403,0,1,65,530,530,530,528,530,0
Córdoba,7826,7826,7826,7826,7826,7826,3896,3896,3896,6298,...,4459,1209,3230,564,7826,7825,7826,7539,7826,0
Entre Ríos,69,69,69,69,69,69,48,48,48,68,...,66,0,7,9,69,69,69,69,69,0
Formosa,29,29,29,29,29,29,0,0,0,29,...,0,0,0,1,29,29,29,29,29,0
La Pampa,15,15,15,15,15,15,4,4,4,15,...,15,0,0,2,15,15,15,14,15,0
Mendoza,295,295,295,295,295,295,58,58,58,281,...,252,5,21,45,295,295,295,293,295,0
Misiones,351,351,351,351,351,351,284,284,284,256,...,172,75,207,1,351,351,351,343,351,0
Neuquén,395,395,395,395,395,395,304,304,304,298,...,254,76,245,19,395,395,395,355,395,0
Río Negro,254,254,254,254,254,254,152,152,152,251,...,178,15,129,6,254,254,254,221,254,213
Salta,91,91,91,91,91,91,74,74,74,69,...,55,9,37,0,91,91,91,90,91,0
San Luis,152,152,152,152,152,152,79,79,79,134,...,110,1,25,5,152,152,152,152,152,0
Santa Fe,8241,8241,8241,8241,8241,8241,3775,3775,3775,5225,...,4525,333,2350,296,8241,8241,8241,7856,8241,0
Tucumán,133,133,133,133,133,133,27,27,27,133,...,87,0,19,21,133,133,133,130,133,0

In [40]:
#Creamos dataframe con un valor booleano que indica si la provincia tiene menos de 30 propiedades (True) o no (False).
dfprop_stateless30locations=dfprop.groupby('state_name')[['operation']].count()<30

# Renombramos la columna  
dfprop_stateless30locations.rename(columns={'state_name':'state_name','operation':'less_30_locations'},inplace=True)

# Hacemos un merge con dfprop para marcar cada una de las propiedades
dfprop=pd.merge(dfprop,dfprop_stateless30locations,how='left',on='state_name')
    
# Generamos un nuevo Dataframe para almacenar las propiedades correspondientes a provincias con menos de 30 propiedades
dfprop_fewlocations=dfprop.loc[dfprop['less_30_locations']==True]

# Eliminamos del dataframe proncipal dichas ubiaciones
dfprop=dfprop.loc[dfprop['less_30_locations']==False]

#Eliminamos las columnas de ambos dataframes
dfprop_fewlocations.drop(['less_30_locations'],axis=1,inplace=True)
dfprop.drop(['less_30_locations'],axis=1,inplace=True)

#Verificamos la cantidad de ubicaciones dentro del dataframe auxiliar
dfprop_fewlocations.shape

(44, 27)

In [48]:
dfprop.groupby(by='state_name').count()

,operation,property_type,place_name,place_with_parent_names,country_name,geonames_id,lat-lon,lat,lon,price,...,expenses,properati_url,description,title,image_thumbnail,district_name,city_name,district_name_key,cota_inf,cota_sup
state_name,,,,,,,,,,,,,,,,,,,,,
Bs.As. G.B.A. Zona Norte,21320,21320,21320,21320,21320,12946,9134,9134,9134,21320,...,2695,21320,21319,21320,21055,21320,15151,21320,21320,21320
Bs.As. G.B.A. Zona Oeste,6044,6044,6044,6044,6044,5217,3116,3116,3116,6044,...,547,6044,6044,6044,5857,6044,5159,6044,6044,6044
Bs.As. G.B.A. Zona Sur,9535,9535,9535,9535,9535,6219,3910,3910,3910,9535,...,1423,9535,9535,9535,9243,9535,8264,9535,9535,9535
Buenos Aires Costa Atlántica,7470,7470,7470,7470,7470,6718,6116,6116,6116,7470,...,331,7470,7470,7470,7417,7470,864,7470,7470,7470
Buenos Aires Interior,1173,1173,1173,1173,1173,1140,732,732,732,1173,...,54,1173,1173,1173,1161,1173,476,1173,1173,1173
Capital Federal,25120,25120,25120,25120,25120,24102,19462,19462,19462,25120,...,5768,25120,25120,25120,24753,25120,922,25120,25120,25120
Chubut,88,88,88,88,88,88,0,0,0,88,...,0,88,88,88,64,88,0,88,88,88
Corrientes,416,416,416,416,416,416,2,2,2,416,...,62,416,416,416,414,416,0,416,416,416
Córdoba,4416,4416,4416,4416,4416,4416,2230,2230,2230,4416,...,471,4416,4416,4416,4329,4416,0,4416,4416,4416
Entre Ríos,67,67,67,67,67,67,46,46,46,67,...,9,67,67,67,67,67,0,67,67,67
Mendoza,253,253,253,253,253,253,36,36,36,253,...,41,253,253,253,251,253,0,253,253,253
Misiones,199,199,199,199,199,199,144,144,144,199,...,0,199,199,199,191,199,0,199,199,199
Neuquén,262,262,262,262,262,262,216,216,216,262,...,15,262,262,262,248,262,0,262,262,262
Río Negro,242,242,242,242,242,242,145,145,145,242,...,6,242,242,242,209,242,209,242,242,242
Salta,56,56,56,56,56,56,47,47,47,56,...,0,56,56,56,56,56,0,56,56,56
San Luis,113,113,113,113,113,113,48,48,48,113,...,4,113,113,113,113,113,0,113,113,113
Santa Fe,4603,4603,4603,4603,4603,4603,2556,2556,2556,4603,...,125,4603,4603,4603,4457,4603,0,4603,4603,4603
Tucumán,126,126,126,126,126,126,21,21,21,126,...,18,126,126,126,123,126,0,126,126,126

In [49]:
dfprop.head()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,expenses,properati_url,description,title,image_thumbnail,district_name,city_name,district_name_key,cota_inf,cota_sup
0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,...,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...,Mataderos,NaN,Capital Federal-Mataderos-,-383.928571,3373.214286
2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,...,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...,Mataderos,NaN,Capital Federal-Mataderos-,-383.928571,3373.214286
4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447,...,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...,Mar del Plata,Centro,Buenos Aires Costa Atlántica-Mar del Plata-Centro,786.773123,2984.346383
5,sell,PH,Munro,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Argentina,Bs.As. G.B.A. Zona Norte,3430511.0,"-34.5329567,-58.5217825",-34.532957,-58.521782,...,NaN,http://www.properati.com.ar/15bor_venta_ph_mun...,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...",https://thumbs4.properati.com/5/6GOXsHCyDu1aGx...,Vicente López,Munro,Bs.As. G.B.A. Zona Norte-Vicente López-Munro,-213.352610,3630.824865
6,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362,...,NaN,http://www.properati.com.ar/15bot_venta_depart...,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,https://thumbs4.properati.com/1/IHxARynlr8sPEW...,Belgrano,NaN,Capital Federal-Belgrano-,1309.804410,4720.977132

In [89]:
dfprop['description']=dfprop['description'].str.upper()
dfprop['title']=dfprop['title'].str.upper()
dfprop.head()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,description,title,image_thumbnail,district_name,city_name,district_name_key,cota_inf,cota_sup,amb_aux1,num_aux1
0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...,Mataderos,NaN,Capital Federal-Mataderos-,-383.928571,3373.214286,NaN,
2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...,Mataderos,NaN,Capital Federal-Mataderos-,-383.928571,3373.214286,NaN,
4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447,...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...,Mar del Plata,Centro,Buenos Aires Costa Atlántica-Mar del Plata-Centro,786.773123,2984.346383,NaN,E
5,sell,PH,Munro,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Argentina,Bs.As. G.B.A. Zona Norte,3430511.0,"-34.5329567,-58.5217825",-34.532957,-58.521782,...,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...",https://thumbs4.properati.com/5/6GOXsHCyDu1aGx...,Vicente López,Munro,Bs.As. G.B.A. Zona Norte-Vicente López-Munro,-213.352610,3630.824865,NaN,U
6,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362,...,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,https://thumbs4.properati.com/1/IHxARynlr8sPEW...,Belgrano,NaN,Capital Federal-Belgrano-,1309.804410,4720.977132,NaN,X

In [110]:
dfprop['amb_aux1']=dfprop['description'].str.find('AMB')
dfprop.head(20)

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,description,title,image_thumbnail,district_name,city_name,district_name_key,cota_inf,cota_sup,amb_aux1,num_aux1
0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...,Mataderos,NaN,Capital Federal-Mataderos-,-383.928571,3373.214286,2.0,
2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...,Mataderos,NaN,Capital Federal-Mataderos-,-383.928571,3373.214286,2.0,
4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447,...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...,Mar del Plata,Centro,Buenos Aires Costa Atlántica-Mar del Plata-Centro,786.773123,2984.346383,-1.0,E
5,sell,PH,Munro,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Argentina,Bs.As. G.B.A. Zona Norte,3430511.0,"-34.5329567,-58.5217825",-34.532957,-58.521782,...,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...",https://thumbs4.properati.com/5/6GOXsHCyDu1aGx...,Vicente López,Munro,Bs.As. G.B.A. Zona Norte-Vicente López-Munro,-213.352610,3630.824865,-1.0,U
6,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362,...,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,https://thumbs4.properati.com/1/IHxARynlr8sPEW...,Belgrano,NaN,Capital Federal-Belgrano-,1309.804410,4720.977132,14.0,X
7,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362,...,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,...",https://thumbs4.properati.com/2/J3zOjgaFHrkvnv...,Belgrano,NaN,Capital Federal-Belgrano-,1309.804410,4720.977132,14.0,X
9,sell,house,Córdoba,|Argentina|Córdoba|Córdoba|,Argentina,Córdoba,3860259.0,"-31.4200833,-64.1887761",-31.420083,-64.188776,...,"HERMOSA CASA SIN TERMINAR DE 3 DORMITORIOS, BA...",CASA SIN TERMINAR EN FALDA DE CAÑETE. ...,https://thumbs4.properati.com/3/mQkhIxXpTTbMSc...,Córdoba,NaN,Córdoba-Córdoba-,-132.309072,2570.344621,-1.0,E
11,sell,apartment,Martínez,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3430813.0,"-34.4860195,-58.5038139",-34.486019,-58.503814,...,EXCELENTE DEPARTAMENTO 2 AMBIENTES CONTRAFRENT...,EXCELENTE DEPARTAMENTO 2 AMBIENTES CONTRAFRENT...,https://thumbs4.properati.com/6/wgSui4rTYqPncO...,San Isidro,Martínez,Bs.As. G.B.A. Zona Norte-San Isidro-Martínez,-636.572710,5106.931529,25.0,X
12,sell,apartment,Palermo Soho,|Argentina|Capital Federal|Palermo|Palermo Soho|,Argentina,Capital Federal,3430234.0,NaN,NaN,NaN,...,TORRE I MONDRIAN. 3 AMBIENTES CON TERRAZA Y D...,VITRAUX PALERMO,https://thumbs4.properati.com/2/ZTUjkRzTz6YvcU...,Palermo,Palermo Soho,Capital Federal-Palermo-Palermo Soho,1274.891775,4905.483405,21.0,T
13,sell,apartment,Palermo Soho,|Argentina|Capital Federal|Palermo|Palermo Soho|,Argentina,Capital Federal,3430234.0,NaN,NaN,NaN,...,TORRE II DALÍ. AMBIENTE UNICO DIVISIBLE.VITRAU...,VITRAUX PALERMO,https://thumbs4.properati.com/8/Uay2dC732CNlRw...,Palermo,Palermo Soho,Capital Federal-Palermo-Palermo Soho,1274.891775,4905.483405,15.0,O
14,sell,house,Bella Vista,|Argentina|Bs.As. G.B.A. Zona Norte|San Miguel...,Argentina,Bs.As. G.B.A. Zona Norte,3436061.0,"-34.5879112015,-58.6987828445",-34.587911,-58.698783,...,ULTIMA UNIDAD DISPONIBLEHAUS BOULEVARD: METROS...,HAUS VILLAGE / BELLA VISTA / 115M² MAS PATIO /...,https://thumbs4.properati.com/6/F7EIhDPQfafSlp...,San Miguel,Bella Vista,Bs.As. G.B.A. Zona Norte-San Miguel-Bella Vista,-1039.033707,3054.360991,-1.0,L
15,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6523561177,-58.5016239381",-34.652356,-58.501624,...,VENTAS MATADEROS AL FRENTE DUPLEX 4 AMB.- PLAN...,VENTA-MATADEROS-DUPLEX 4 AMB.,https://thumbs4.properati.com/7/XSdJtiE8ZkWgon...,Mataderos,NaN,Capital Federal-Mataderos-,-383.928571,3373.214286,36.0,E
16,sell,apartment,Barrio El Golf,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nord...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4087174767,-58.6343892841",-34.408717,-58.634389,...,EXCELENTE 3 AMBIENTES EN UN 6 PISO Y CON TERRA...,3 AMBIENTES EN VENTA EN ACQUA GOLF 1 EN NORDEL...,https://thumbs4.properati.com/8/txJsOWitsI5tjM...,Tigre,Nordelta,Bs.As. G.B.A. Zona Norte-Tigre-Nordelta,317.994505,4352.060440,12.0,X
17,sell,house,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|,Argentina,Bs.As. G.B.A. Zona Norte,3427753.0,"-34.425087,-58.5796585",-34.425087,-58.579659,...,CASA SOBRE LOTE AL GOLF EN BARRIO SAN ISIDRO L...,"CASA EN VENTA EN BARRIO SAN ISIDRO LABRADOR, T...",https://thumbs4.properati.com/6/4N9cpurqmDMKEX...,Tigre,NaN,Bs.As. G.B.A. Zona Norte-Tigre-,399.605646,3130.871533,398.0,A
18,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.580503566,-58.4058744847",-34.580504,-58.405874,...,EXCELENTE SEMIPISO AL CONTRA FRENTE EN BULNES ...,"BULNES Y LIBERTADOR: ESPECTACULAR PULMÓN, CON ...",https://thumbs4.properati.com/8/1y9fKHLee-aQQj...,Palermo,NaN,Capital Federal-Palermo-,938.585688,5331.585429,348.0,X
19,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,3430234.0,"-34.590926,-58.4116653",-34.590926,-58.411665,...,"EXCELENTE ZONA, MULTIPLES MEDIOS DE TRANSPORTE...",DEPARTAMENTO DE 4 AMBIENTES EN VENTA EN PALERMO,https://thumbs4.properati.com/0/P6wPIXB1wJFLVU...,Palermo,NaN,Capital Federal-Palermo-,938.585688,5331.585429,-1.0,X
20,sell,house,General Rodríguez,|Argentina|Bs.As. G.B.A. Zona Oeste|General Ro...,Argentina,Bs.As. G.B.A. Zona Oeste,3433780.0,"-34.6501160392,-58.9660339715",-34.650116,-58.966034,...,EDIFICADA EN 2 PLANTAS. PB. AMPLIO LIVING CON ...,CASA EN VENTA A ESTRENAR EN EL NACIONAL,https://thumbs4.properati.com/1/ggkK2Ie5nTWBtE...,General Rodríguez,NaN,Bs.As. G.B.A. Zona Oeste-General Rodríguez-,-1070.833333,3251.388889,106.0,D
21,sell,apartment,Pilar,|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|Pilar|,Argentina,Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,NaN,...,"HERMOSO DEPARTAMENTO, UBICADO EN LA CALLE ALMI...","EXCELENTE DEPARTAMENTO, IMPECABLE!!! APTO CRED...",https://thumbs4.properati.com/8/BHyv2zmce3bVoU...,Pilar,Pilar,Bs.As. G.B.A. Zona Norte-Pilar-Pilar,305.357143,2536.785714,399.0,E
22,sell,apartment,Castelar,|Argentina|Bs.As. G.B.A. Zona Oeste|Morón|Cast...,Argentina,Bs.As. G.B.A. Zona Oeste,3435607.0,"-34.6511052674,-58.6438613116",-34.651105,-58.643861,...,EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORIA...,VENTA DE POZO- DEPTO 4 AMBIENTES- CASTELAR.,https://thumbs4.properati.com/4/GSkf89I26TnBZw...,Morón,Castelar,Bs.As. G.B.A. Zona Oeste-Morón-Castelar,-410.687023,3366.412214,91.0,X
23,sell,apartment,Castelar,|Argentina|Bs.As. G.B.A. Zona Oeste|Morón|Cast...,Argentina,Bs.As. G.B.A. Zona Oeste,3435607.0,"-34.6511052674,-58.6438613116",-34.651105,-58.643861,...,EXCLUSIVO DEPARTAMENTO DE EXCELENTE CATEGORÍA...,VENTA DE POZO- DEPTO 4 AMBIENTES- CASTELAR.,https://thumbs4.properati.com/8/aAQkTsxaLGndbA...,Morón,Castelar,Bs.As. G.B.A. Zona Oeste-Morón-Castelar,-410.687023,3366.412214,91.0,X

In [126]:
dfprop.dtypes

operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
district_name                  object
city_name                      object
district_name_key              object
cota_inf                      float64
cota_sup                      float64
amb_aux1                      float64
num_aux1                       object
dtype: object

In [130]:
dfprop.groupby('amb_aux1').count()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,properati_url,description,title,image_thumbnail,district_name,city_name,district_name_key,cota_inf,cota_sup,num_aux1
amb_aux1,,,,,,,,,,,,,,,,,,,,,
-1.0,32068,32068,32068,32068,32068,32068,26362,16432,16432,16432,...,32068,32068,32068,31121,32068,12770,32068,32068,32068,32065
0.0,160,160,160,160,160,160,147,145,145,145,...,160,160,160,160,160,12,160,160,160,160
1.0,37,37,37,37,37,37,33,30,30,30,...,37,37,37,37,37,4,37,37,37,37
2.0,1118,1118,1118,1118,1118,1118,1028,929,929,929,...,1118,1118,1118,1112,1118,140,1118,1118,1118,1118
3.0,75,75,75,75,75,75,71,58,58,58,...,75,75,75,75,75,10,75,75,75,75
4.0,882,882,882,882,882,882,801,512,512,512,...,882,882,882,862,882,197,882,882,882,882
5.0,340,340,340,340,340,340,310,214,214,214,...,340,340,340,337,340,125,340,340,340,340
6.0,70,70,70,70,70,70,57,31,31,31,...,70,70,70,70,70,35,70,70,70,70
7.0,437,437,437,437,437,437,376,291,291,291,...,437,437,437,432,437,203,437,437,437,437
8.0,514,514,514,514,514,514,462,386,386,386,...,514,514,514,509,514,124,514,514,514,514
9.0,400,400,400,400,400,400,338,231,231,231,...,400,400,400,394,400,158,400,400,400,400
10.0,653,653,653,653,653,653,561,415,415,415,...,653,653,653,646,653,223,653,653,653,653
11.0,561,561,561,561,561,561,483,291,291,291,...,561,561,561,547,561,171,561,561,561,561
12.0,954,954,954,954,954,954,811,569,569,569,...,954,954,954,942,954,353,954,954,954,954
13.0,387,387,387,387,387,387,323,197,197,197,...,387,387,387,384,387,168,387,387,387,387
14.0,658,658,658,658,658,658,554,446,446,446,...,658,658,658,657,658,212,658,658,658,658
15.0,1442,1442,1442,1442,1442,1442,1254,890,890,890,...,1442,1442,1442,1422,1442,558,1442,1442,1442,1442
16.0,1380,1380,1380,1380,1380,1380,1047,1038,1038,1038,...,1380,1380,1380,1375,1380,805,1380,1380,1380,1380
17.0,823,823,823,823,823,823,676,495,495,495,...,823,823,823,815,823,344,823,823,823,823
18.0,2072,2072,2072,2072,2072,2072,1629,1323,1323,1323,...,2072,2072,2072,2049,2072,824,2072,2072,2072,2072
19.0,525,525,525,525,525,525,452,329,329,329,...,525,525,525,519,525,210,525,525,525,525
20.0,738,738,738,738,738,738,625,415,415,415,...,738,738,738,721,738,304,738,738,738,738
21.0,1086,1086,1086,1086,1086,1086,931,768,768,768,...,1086,1086,1086,1061,1086,332,1086,1086,1086,1086
22.0,391,391,391,391,391,391,326,227,227,227,...,391,391,391,384,391,142,391,391,391,391
23.0,445,445,445,445,445,445,382,259,259,259,...,445,445,445,431,445,153,445,445,445,445
24.0,2250,2250,2250,2250,2250,2250,1866,1784,1784,1784,...,2250,2250,2250,2246,2250,848,2250,2250,2250,2250
25.0,633,633,633,633,633,633,544,370,370,370,...,633,633,633,625,633,236,633,633,633,633
26.0,707,707,707,707,707,707,588,501,501,501,...,707,707,707,696,707,233,707,707,707,707
27.0,591,591,591,591,591,591,511,433,433,433,...,591,591,591,588,591,179,591,591,591,591
28.0,824,824,824,824,824,824,673,513,513,513,...,824,824,824,820,824,281,824,824,824,824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2435.0,1,1,1,1,1,1,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2437.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2442.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2447.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
2466.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
2479.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,0,1,1,1,1
2487.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
2532.0,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2575.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2578.0,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2579.0,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2594.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2692.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2741.0,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2762.0,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
2794.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,0,1,1,1,1
2928.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
2992.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3080.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
3102.0,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3239.0,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3521.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,0,1,1,1,1
3542.0,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3690.0,2,2,2,2,2,2,2,0,0,0,...,2,2,2,2,2,1,2,2,2,2
3882.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,0,1,1,1,1
3923.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,0,1,1,1,1
4521.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,0,1,1,1,1
4981.0,1,1,1,1,1,1,1,0,0,0,...,1,1,1,1,1,0,1,1,1,1
5005.0,1,1,1,1,1,1,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
5027.0,1,1,1,1,1,1,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [133]:
dfprop['amb_aux1']=dfprop.loc[dfprop['amb_aux1'] !=-1].fillna(0)
dfprop['amb_aux1']=dfprop.loc[dfprop['amb_aux1'] !=-1].astype(np.int64)
dfprop['num_aux1']=dfprop.loc[dfprop['amb_aux1'] !=-11].apply(lambda x: dfprop['description'][(dfprop['amb_aux1']-2):dfprop['amb_aux1']], axis=1)

ValueError: Cannot convert non-finite values (NA or inf) to integer