# Challenge 1: Properti

## Goals:
- Clean the supplied dataset, designing strategies to deal with lost data in certain variables. 
- Perform a descriptive analysis of the main variables.
- Create new columns based on the given characteristics that may have predictive value.

### Import Libraries
**Numpy** and **Pandas** libraries are used to load and manage the information supplied in the csv file.

**IPython** is used to perform the presentation of the information obtained durign the analysis.

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

### Load CSV file
Load the dataset specifiying the comma as the delimiter value .

In [2]:
dfprop=pd.read_csv(filepath_or_buffer='properatti.csv',delimiter=',',index_col = 0 )

### Visualize Strucure Information
#### Dataset Structure (Columns - data type)

In [3]:
#ar_columns=np.array(dfprop.columns)
#ar_columns.info()
dfprop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121220 entries, 0 to 121219
Data columns (total 25 columns):
operation                     121220 non-null object
property_type                 121220 non-null object
place_name                    121197 non-null object
place_with_parent_names       121220 non-null object
country_name                  121220 non-null object
state_name                    121220 non-null object
geonames_id                   102503 non-null float64
lat-lon                       69670 non-null object
lat                           69670 non-null float64
lon                           69670 non-null float64
price                         100810 non-null float64
currency                      100809 non-null object
price_aprox_local_currency    100810 non-null float64
price_aprox_usd               100810 non-null float64
surface_total_in_m2           81892 non-null float64
surface_covered_in_m2         101313 non-null float64
price_usd_per_m2              68617 non-null float64
price_per_m2                  87658 non-null float64
floor                         7899 non-null float64
rooms                         47390 non-null float64
expenses                      14262 non-null float64
properati_url                 121220 non-null object
description                   121218 non-null object
title                         121220 non-null object
image_thumbnail               118108 non-null object
dtypes: float64(13), object(12)
memory usage: 24.0+ MB

### Columns definition

- operation:

- property_type:

- place_name:

- place_with_parent_names:

- country_name:

- state_name:

- geonames_id:

- lat-lon:

- lat:

- lon:

- price:

- currency:

- price_aprox_local_currency:

- price_aprox_usd:

- surface_total_in_m2:

- surface_covered_in_m2:

- price_usd_per_m2:

- price_per_m2:

- floor:

- rooms:

- expenses:

- properati_url:

- description:

- title:

- image_thumbnail:

## Nan values per variable

In [51]:
dfprop[dfprop.isnull().any(axis=1)].isna().sum()

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

- Analizamos los valores NaN de la columna 'place_name':

In [10]:
dfprop.loc[dfprop['place_name'].isna() == True]

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
6489,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4008968545,-58.63809847",-34.400897,-58.638098,...,240.0,2708.333333,2708.333333,NaN,NaN,NaN,http://www.properati.com.ar/15ui7_venta_casa_t...,"Espectacular casa moderna de una planta, con a...",Venta de casa en Santa María de Tigre,https://thumbs4.properati.com/7/vQjgbHSz1fKXxy...
10201,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.400704,-58.638067",-34.400704,-58.638067,...,300.0,NaN,1783.333333,NaN,5.0,NaN,http://www.properati.com.ar/166p5_venta_casa_t...,Corredor Responsable: SABRINA COCCONI - CSI 62...,VENTA CASA SANTA MARÍA DE TIGRE COUNTRY BARRIO...,https://thumbs4.properati.com/1/FABpKIJMaoAO3t...
11451,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4026880384,-58.6262613379",-34.402688,-58.626261,...,270.0,253.456221,2037.037037,NaN,NaN,NaN,http://www.properati.com.ar/16bpd_venta_casa_t...,MUY LINDA CASA EN EXCELENTE UBICACION!! Superf...,SANTA MARIA DE TIGRE IMPECABLE,https://thumbs4.properati.com/5/fwH9L71hW2rW7V...
14839,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4007994779,-58.6381735719",-34.400799,-58.638174,...,200.0,2000.000000,2400.000000,NaN,NaN,NaN,http://www.properati.com.ar/16tal_venta_casa_b...,Muy linda casa de estilo clásico.-Planta baja;...,Venta de casa en Santa María de Tigre,https://thumbs4.properati.com/1/3ZbPSffTY38y7v...
18622,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4032781195,-58.6263503945",-34.403278,-58.626350,...,340.0,3814.705882,3814.705882,NaN,NaN,NaN,http://www.properati.com.ar/177ee_venta_casa_t...,Casa con increible vista al lago con playa de...,Casa con increible vista al lago con playa y m...,https://thumbs4.properati.com/0/52JCH1PKYCOMe6...
21922,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.399704,-58.638405",-34.399704,-58.638405,...,220.0,NaN,2000.000000,NaN,5.0,NaN,http://www.properati.com.ar/17gy5_venta_casa_s...,Corredor Responsable: Matias Castelli - CUCICB...,Venta Casa - Barrio Santa Maria de Tigre,https://thumbs4.properati.com/8/oO7kmFPYNm8DYr...
23664,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4005161998,-58.6417999185",-34.400516,-58.641800,...,294.0,1632.653061,1632.653061,NaN,NaN,NaN,http://www.properati.com.ar/17mb5_venta_casa_t...,EXCELENTE CASA CLASICA con grandes ventanas y ...,CASA EN VENTA EN SANTA MARIA DE TIGRE CON RENTA,https://thumbs4.properati.com/2/LQCwH6txpFqetn...
24722,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4007292,-58.6377783",-34.400729,-58.637778,...,270.0,1677.215190,1962.962963,NaN,NaN,NaN,http://www.properati.com.ar/17oz1_venta_casa_t...,"EN EXCLUSIVIDAD!!!!!!Lindísima casa, muy lumin...",Venta de casa en Santa María de Tigre,https://thumbs4.properati.com/0/Nhx4NejZaQACap...
38856,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.425087,-58.5796585",-34.425087,-58.579659,...,550.0,NaN,2454.545455,NaN,NaN,NaN,http://www.properati.com.ar/18mcb_venta_casa_t...,SANTA MARIA DE TIGRE- AL RIO - ESPECTACULAR CA...,"Casa (barrio cerrado), Venta",https://thumbs4.properati.com/2/Izq8d5o8ti3kJy...
45970,sell,apartment,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.396074,-58.63738",-34.396074,-58.637380,...,27.0,1727.272727,3518.518519,NaN,1.0,NaN,http://www.properati.com.ar/1958f_venta_depart...,"EDIFICIO ZERENA – EL PALMAR, NORDELTA. Torre 2...",Excelente monoambiente. Barrio El Palmar. Con...,https://thumbs4.properati.com/2/5yvU5E9wOAAzBa...
46642,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.400749,-58.638754",-34.400749,-58.638754,...,20.0,NaN,73500.000000,NaN,6.0,NaN,http://www.properati.com.ar/196mk_venta_casa_t...,Corredor Responsable: Matias Castelli - CUCICB...,Venta de Casa al rio,https://thumbs4.properati.com/9/ACeODr7N9CYr9T...
53130,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.400978,-58.637809",-34.400978,-58.637809,...,370.0,630.000000,1702.702703,NaN,NaN,NaN,http://www.properati.com.ar/19kkw_venta_casa_t...,Excelente casa en Venta en B° Santa Maria de T...,Casa en Venta,https://thumbs4.properati.com/0/3G0TgAjQbNN385...
55306,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.3996311,-58.6433121",-34.399631,-58.643312,...,204.0,1850.393701,2303.921569,NaN,NaN,NaN,http://www.properati.com.ar/19ouh_venta_casa_t...,Muy linda casa de dos plantas en lote interno ...,Santa María de Tigre. Casa con amarra.,https://thumbs4.properati.com/7/6CoXZSzRyyYJBA...
57703,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39033749,-58.63368988",-34.390337,-58.633690,...,230.0,2826.086957,2826.086957,NaN,NaN,NaN,http://www.properati.com.ar/19ty5_venta_casa_s...,Espectacular casas moderna con amplio jardín s...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/3/3ax5piHfCls0gT...
57759,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39596815,-58.63077164",-34.395968,-58.630772,...,360.0,1611.111111,1611.111111,NaN,NaN,NaN,http://www.properati.com.ar/19u2a_venta_casa_b...,Incluye una amarra de U$S 30.000 con elevador ...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/8/H6gVgcPkk1wcQu...
57764,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39635767,-58.62613678",-34.396358,-58.626137,...,391.0,2282.352941,2480.818414,NaN,NaN,NaN,http://www.properati.com.ar/19u2n_venta_casa_s...,IMPECABLE ! Sobre la laguna con excelente orie...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/1/7lkC4GRTKV-2DS...
57793,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39628685,-58.62922668",-34.396287,-58.629227,...,250.0,3040.000000,3040.000000,NaN,NaN,NaN,http://www.properati.com.ar/19u4u_venta_casa_j...,Súper cálida y agradable. Ubicada en uno de lo...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/7/GbromikV5vgSHJ...
58004,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39104577,-58.63617897",-34.391046,-58.636179,...,230.0,2067.669173,2391.304348,NaN,NaN,NaN,http://www.properati.com.ar/19uld_venta_casa_s...,Casa clásica muy cómoda.PLANTA BAJA: Hall de e...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/7/1XfLGuboQb9HPW...
58037,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39315287,-58.63197327",-34.393153,-58.631973,...,320.0,1843.750000,1843.750000,NaN,NaN,NaN,http://www.properati.com.ar/19unl_venta_casa_s...,Excelente casa ubicada en uno de la a pocos ba...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/1/gnnv0Ek1OhlEIc...
59069,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.400849,-58.638179",-34.400849,-58.638179,...,248.0,NaN,2580.645161,NaN,5.0,NaN,http://www.properati.com.ar/19wuj_venta_casa_b...,Corredor Responsable: Matias Castelli - CUCICB...,CASA EN VENTA AL AGUA EN SANTA MARIA DE TIGRE,https://thumbs4.properati.com/0/yQCPCJupzxW52v...
62411,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.396485,-58.635878",-34.396485,-58.635878,...,170.0,2000.000000,2000.000000,NaN,4.0,NaN,http://www.properati.com.ar/1a71u_venta_casa_b...,"Hermosa casa en lote perimetral, Excelente cal...",VENTA CASA A ESTRENAR EN LAS TIPAS NORDELTA,https://thumbs4.properati.com/8/6zjSdUPIdlsKSz...
62413,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.396485,-58.635878",-34.396485,-58.635878,...,200.0,1676.000000,2095.000000,NaN,5.0,NaN,http://www.properati.com.ar/1a71w_venta_casa_s...,Muy linda casa a estrenar sobre lote perimetra...,Muy linda casa a estrenar en Las Tipas,https://thumbs4.properati.com/4/lp2Smi4s4ttX4a...
63849,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39452,-58.632501",-34.394520,-58.632501,...,140.0,2857.142857,2857.142857,NaN,5.0,NaN,http://www.properati.com.ar/1a9l0_venta_casa_s...,Casa estilo colonial de una planta sobre lote ...,Oportunidad! Casa en La Alameda,https://thumbs4.properati.com/3/0IZAiDfAhxDRhX...

- Vemos que, de acuerdo a 'place_name_with_parents', todos los valores faltantes son 'Tigre'.
- Por lo tanto, procedemos a reemplazarlos:

In [19]:
dfprop['place_name'].fillna( value = 'Tigre', inplace = True)

In [20]:
dfprop[dfprop.isnull().any(axis=1)].isna().sum()

operation                          0
property_type                      0
place_name                         0
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

- Analizamos los valores que tienen 'surface_covered_in_m2', pero no 'surface_total_in_m2'

In [32]:
dfprop_surfaceanalysis = dfprop[(dfprop['surface_total_in_m2'].isna() == True) & (dfprop['surface_covered_in_m2'].isna() == False)]
dfprop_surfaceanalysis[['surface_total_in_m2', 'surface_covered_in_m2']].head()

    surface_total_in_m2  surface_covered_in_m2
68                  NaN                   72.0
77                  NaN                   85.0
79                  NaN                   42.0
87                  NaN                  170.0
89                  NaN                   53.0

- Reemplazamos los valores NaN de la columna 'surface_total_in_m2', asumiendo que en estos casos es igual al valor de 'surface_covered_in_m2'

In [39]:
dfprop.fillna({'surface_total_in_m2' : dfprop['surface_covered_in_m2']}, inplace = True)

operation                                                                  sell
property_type                                                         apartment
place_name                                                        Mar del Plata
place_with_parent_names       |Argentina|Buenos Aires Costa Atlántica|Mar de...
country_name                                                          Argentina
state_name                                         Buenos Aires Costa Atlántica
geonames_id                                                         3.43086e+06
lat-lon                                                 -38.0034731,-57.5501571
lat                                                                    -38.0035
lon                                                                    -57.5502
price                                                                    150000
currency                                                                    USD
price_aprox_local_currency                                          2.64668e+06
price_aprox_usd                                                          150000
surface_total_in_m2                                                          85
surface_covered_in_m2                                                        85
price_usd_per_m2                                                            NaN
price_per_m2                                                            1764.71
floor                                                                       NaN
rooms                                                                         3
expenses                                                                    NaN
properati_url                 http://www.properati.com.ar/15byg_venta_depart...
description                   Departamento de 3 ambientes a la calle - baule...
title                         Departamento en Venta. Ambientes. Dormitorios....
image_thumbnail               https://thumbs4.properati.com/1/tBVXv9UkbCNW0h...
Name: 77, dtype: object

Volvemos a constatar la cantidad de valores nulos en el dataframe:

In [40]:
dfprop[dfprop.isnull().any(axis=1)].isna().sum()

operation                          0
property_type                      0
place_name                         0
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            12369
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

Repetimos la operación para los casos en los que no tenemos valor de 'surface_covered_in_m2', completando con el valor de 'surface_total_in_m2':

In [42]:
dfprop_surfaceanalysis = dfprop[(dfprop['surface_covered_in_m2'].isna() == True) & (dfprop['surface_total_in_m2'].isna() == False)]
dfprop_surfaceanalysis[['surface_total_in_m2', 'surface_covered_in_m2']].head()

    surface_total_in_m2  surface_covered_in_m2
5                  53.0                    NaN
10               1514.0                    NaN
15                164.0                    NaN
66                 38.0                    NaN
67                220.0                    NaN

In [43]:
dfprop.fillna({'surface_covered_in_m2' : dfprop['surface_total_in_m2']}, inplace = True)

operation                                                                  sell
property_type                                                             house
place_name                                                         Gualeguaychú
place_with_parent_names                     |Argentina|Entre Ríos|Gualeguaychú|
country_name                                                          Argentina
state_name                                                           Entre Ríos
geonames_id                                                         3.43366e+06
lat-lon                                                  -33.0140714,-58.519828
lat                                                                    -33.0141
lon                                                                    -58.5198
price                                                                       NaN
currency                                                                    NaN
price_aprox_local_currency                                                  NaN
price_aprox_usd                                                             NaN
surface_total_in_m2                                                          53
surface_covered_in_m2                                                        53
price_usd_per_m2                                                            NaN
price_per_m2                                                                NaN
floor                                                                       NaN
rooms                                                                       NaN
expenses                                                                    NaN
properati_url                 http://www.properati.com.ar/15bop_venta_depart...
description                   Casa en el perímetro del barrio 338, ubicada e...
title                         Casa Barrio 338. Sobre calle 3 de caballería, ...
image_thumbnail               https://thumbs4.properati.com/6/q-w68gvaUEQVXI...
Name: 5, dtype: object

In [44]:
dfprop[dfprop.isnull().any(axis=1)].isna().sum()

operation                          0
property_type                      0
place_name                         0
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            12369
surface_covered_in_m2          12369
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64